@import "tailwindcss";

:root {
    font-family: "Bricolage Grotesque", sans-serif;
    --font-normal: "IBM Plex Sans", sans-serif;
}
.img-intial-move {
    animation: translate-up 1.2s ease;
    animation-iteration-count: 1;
}

.heading-connect {
    animation: slideIn 5s ease-out; 
}

@keyframes translate-up {
    from {
        transform: translateY(0); 
    }

    50% {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0; 
        transform: translateY(50px); 
    }

    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}
